[submodule "setup"]
	path = setup
	url = https://lab.quickbox.io/QuickBox/quickbox_setup.git
[submodule "dashboard"]
	path = dashboard
	url = https://lab.quickbox.io/QuickBox/quickbox_dashboard.git
[submodule "rutorrent"]
	path = rutorrent
	url = https://lab.quickbox.io/QuickBox/quickbox_rutorrent.git
[submodule "packages"]
	path = packages
	url = https://lab.quickbox.io/QuickBox/quickbox_packages.git